@model IEnumerable<smartmetercms.Models.EnergyUsage>

@{
    ViewData["Title"] = "Cummulative Energy";
}
<link href="~/css/energyusageindex.css" rel="stylesheet" />
<h1>Cummulative Energy Usage</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnergyUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Current)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
